*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(224, 229, 236);
    --secondary-color: rgb(237, 245, 252);
    --accent-color:rgb(163, 155, 168);
    --my-black: rgb(65, 74, 84);
    /* --shadow-color:;
    --text-color:; */
}

/* Google  Font Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    height: 100vh;
    color: var(--accent-color);
    h1 {
        text-align: center;
        font-size: 2.027rem;
        /* font-size: 3vw; */
        color: var(--my-black);
        font-weight: 700;
    }
    h2 {
        font-size: 1.802rem;
    }
    h3 {
        font-size: 1.602rem;
    }
    h4 {
        font-size: 1.424rem;
    }
    h5 {
        font-size: 1.266rem;
    }
    h6 {
        font-size: 1.125rem;
    }
    p {
        font-size: 1rem;
    }
    small {
        font-size: 0.889rem;
    }
}

header {
    width: 100%;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: var(--accent-color);
    margin: 0;
    padding: 1rem 1rem;
    box-shadow: 6px 6px 12px #d9d9d9, 
    -6px -6px 12px #f5f5f5;
    h1 .h1examples {
        color: whitesmoke;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    .white-player {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--primary-color);
        .player {
            width: 18.75rem;
            height: 34.375rem;
            background-color: var(--primary-color);
            user-select: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: .75rem;
            box-shadow: 6px 6px 16px rgba(163, 177, 198, 0.6) , -6px -6px 16px rgba(255, 255, 255, 0.5);
            &:hover {
                scale: 1.0125;
                transition: transform 1.02s ease-in-out;
            }
            .player-level {
                width: 80%;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                margin-top: 2.5rem;
                background-color: var(--primary-color);
                outline: none;
            }
            .player-level::-webkit-slider-runnable-track {
                background-color: #D7DBDD;
                height: .375rem;
                border-radius: .3125rem;
            }

            .player-level::-webkit-slider-thumb {
                -webkit-appearance: none;
                border-radius: 100%;
                background-color: #7C87FE;
                height: 1.125rem;
                width: 1.125rem;
                margin-top: -0.375rem;
                cursor: pointer;
            }

            .player-album {
                width: 6.25rem;
                justify-content: center;
                align-items: center;
                width: 50%;
                #album-cover {
                    width: 7.8125rem;
                    height: 7.8125rem;
                    border-radius: 50%;
                    box-shadow: 0px 0px 7px rgb(154, 168, 187), 0px 0px 7px rgba(163, 177, 198,), -8px -8px 50px rgba (255, 255, 255, 0.8px), 3px 3px 25px rgba (0, 0, 0, .1);
                }
            }

            .audio-duration {
                margin-top: -1.875rem;
                display: flex;
                width: 78%;
                font-size: .625rem;
                font-weight: 600;
                letter-spacing: .0625rem;
                color: #A1A1A1;
                justify-content: space-between;
                align-items: center;
                .start {
                    flex: 1;
                    width: 50%;
                    text-align: left;
                }
                .end {
                    width: 50%;
                    text-align: right;
                }
            }

            .player-audio {
                visibility: hidden;
            }
            
            .player-controls {
                display: flex;
                justify-content: center;
                width: 95%;
                align-items: center;
                margin-bottom: 1.5625rem ;
                gap: 2rem;
                .player-button, .player-button-blue {
                    width: 2.125rem;
                    cursor: pointer;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    width: 3rem;
                    height: 3rem;
                    align-items: center;
                    box-shadow: -4px -4px 20px 0px #FFF9 , -6px -6px 6px 0px #FFF9 , 8px 8px 20px #0001 , 5px 5px 6px 0px #0001;
                    margin-top: 1.25rem;
                    &:active {
                        box-shadow: inset -8px -8px 20px #FFF9, inset -5px -5px 6px #FFF9, 8px 8px 20px #cccccc, inset 5px 5px 6px #cccccc;
                    }
                    
                }
                #backward i, #forward i {
                    fill: #797D7F;
                }
                #play {
                    color:  #fff;
                    background-color: #5C87FE;
                    &:active {
                        box-shadow: inset -8px -8px 20px #5C87FE, inset -5px -5px 6px #5C87FE, inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
                    }
                    i {
                        color: white ;
                    }
                }
            }
            
            .player-artist {
                font-size: .875rem;
                font-weight: 500;
                opacity: .5;
                margin: 1.25rem 0rem 0rem 0rem;
            }
            .player-song {
                width: 100%;
                text-align: center;
                font-weight: 400;
                font-size: 1rem;
                opacity: 1;
                margin-top: .5rem;
                line-height: 1.25;
            }
            .player-title {
                width: 95%;
                text-align: center;
                margin-bottom: 1.5625rem;
                font-weight: 600;
                font-size: .75rem;
                text-transform: uppercase;
                letter-spacing: .125rem;
                margin: 2.1875rem 0;
            }
            
        }
    }
}


/* Album Animation */

.rotate {
    -webkit-animation: rotation 15s infinite linear;
    animation: rotation 15s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


