*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(224, 229, 236);
    --secondary-color: rgb(237, 245, 252);
    --accent-color:rgb(163, 155, 168);
    --my-black: rgb(65, 74, 84);
    /* --shadow-color:;
    --text-color:; */
}

/* Google  Font Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    height: 100vh;
    color: var(--accent-color);
    h1 {
        text-align: center;
        font-size: 2.027rem;
        /* font-size: 3vw; */
        color: var(--my-black);
        font-weight: 700;
    }
    h2 {
        font-size: 1.802rem;
    }
    h3 {
        font-size: 1.602rem;
    }
    h4 {
        font-size: 1.424rem;
    }
    h5 {
        font-size: 1.266rem;
    }
    h6 {
        font-size: 1.125rem;
    }
    p {
        font-size: 1rem;
    }
    small {
        font-size: 0.889rem;
    }
}

header {
    width: 100%;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: var(--accent-color);
    margin: 0;
    padding: 1rem 1rem;
    box-shadow: 6px 6px 12px #d9d9d9, 
    -6px -6px 12px #f5f5f5;
    h1 .h1examples {
        color: whitesmoke;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    .white-player {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--primary-color);
        .player {
            width: 18.75rem;
            height: 34.375rem;
            background-color: var(--primary-color);
            user-select: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: .75rem;
            box-shadow: 6px 6px 16px rgba(163, 177, 198, 0.6) , -6px -6px 16px rgba(255, 255, 255, 0.5);
            &:hover {
                scale: 1.0125;
                transition: transform 1.02s ease-in-out;
            }
            .player-title {
                width: 95%;
                text-align: center;
                margin-bottom: 1.5625rem;
                font-weight: 600;
                font-size: .75rem;
                text-transform: uppercase;
                letter-spacing: .125rem;
                margin: 2.1875rem 0;
            }
            .player-album {
                .album-cover {
                    width: 9.375rem;
                    height: 9.375rem;
                    border-radius: 50%;
                }
            }
        }
    }
}


